{# templates/your_template.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Votre Template{% endblock %}

{% block body %}
    <h1>Votre Template</h1>
    <p>Le cookie a été créé avec succès !</p>

    {# Vous pouvez ajouter du contenu supplémentaire ici #}
{% endblock %}
