{# templates/cookie/cookie_consent.html.twig #}

<div id="cookie-consent-banner" style="display: none; background-color: #f1f1f1; padding: 10px; position: fixed; bottom: 0; width: 100%; text-align: center;">
    <p>Ce site utilise des cookies. En continuant à naviguer sur ce site, vous acceptez notre utilisation des cookies.</p>
    <button id="accept-cookies" style="background-color: #4caf50; color: white; padding: 5px 10px; border: none; border-radius: 4px; cursor: pointer;">Accepter</button>
</div>
